<footer>
  <div class="row">
    <div class="col-lg-12 footer">
      {{site.data.strings.copyright_line}}<br />
      {% if page.last_updated %}<span>Page last updated:</span> {{page.last_updated}}<br/>
      {% endif %} Site last generated: {{ site.time | date: "%b %-d, %Y"  }} <br />
    </div>
  </div>
<!--  <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <script type="text/javascript" src="{{ site.baseurl }}/sass/assets/javascripts/bootstrap.js"></script>-->

  <!-- Manipulate the DOM on load -->
  <script type="text/javascript">
    $( document ).ready(function() {

      <!-- Related Links -->
      $(" nav.related-links ").wrap(" <div class='panel-body related-links'></div> ");
      <!-- $(" div.panel-body.related-links ").prepend(" <div class='xxx'></div> "); -->


      <!-- Short Description -->
      $(" p.shortdesc ").wrap(" <div class='panel-body shortdesc'></div> ");
      $(" div.panel-body.shortdesc ").wrap(" <div class='panel panel-default shortdesc'></div> ");
      $(" div.panel.panel-default.shortdesc" ).prepend(" <div class='panel-heading'>Short Description</div> ");


    });
  </script>
</footer>
